.container__filter {
  max-width: 1120px;
  margin: 0 auto 4rem auto;
  padding: 0 4rem;
}

.container__filter-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  gap: 5rem;
}

.container__filter-button {
  position: relative;
}

.filter__input {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  padding: 0 1rem;
  font-size: 1.3rem;
  width: 100%;
  height: 2.3rem;
  border-style: none;
  border-radius: 10px;
  box-sizing: border-box;
}
.filter__input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  transition: ease 0.5s;
}

.filter__search-icon {
  fill: gray;
  position: absolute;
  width: 1.3rem;
  top: 0.5rem;
  right: 0.5rem;
}

@media (max-width: 768px) {
  .container__filter-content {
    flex-direction: column;
    gap: 2rem;
  }
}
