.container__types-pokemon {
  position: relative;
}

.container__types-pokemon-open {
  position: absolute;
  top: 3.25rem;
  left: -1rem;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  height: 10rem;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 1rem;
}

.container__filter-types-checkbox {
  padding: 1rem 0;
}
