:root {
    --type-fire: #fd7d24;
    --type-water: #4592c4;
    --type-grass:#9bcc50;
    --type-bug: #729f3f;
    --type-ground: #ab9842;
    --type-fairy:#fdb9e9;
    --type-poison:  #b97fc9;
    --type-electric: #eed535;
    --type-normal: #a4acaf;
}